/** 
 * LAYOUT STYLES
 *
 * Layout styles determines the general screen layout of the page.
 */

html, 
body {
	height: 100%;
}

body {
	width: 80em;
	text-align: left;
	background-color: #0D0D0D;
	color: #F3F3F3;
}

.date {
	font-style: italic;
}


/* Core menu */

#logo {
	height: 7.5em;
}

#logo img {
	width: 6.95em;
	margin-top: .94em;
	margin-right: -.1ex;
}

#core {
	margin-left: 1.5em;
	text-align: right;
	width: 14em;
}

#core h2 {
	text-align: right;
	font-size: 1em;
	font-weight: bold;
	line-height: 1.5em;
	border-bottom: 1px solid #F3F3F3;
	margin-top: 1em;
	margin-bottom: .45em;
}

#core ul {
	margin-bottom: 1em;
}

#core ul+ul {
	margin-top: 1.5em;
}

#teaser {
	overflow: hidden;
}

/* Core Menu + General Content */

#core a:link,
#core a:visited,
#teaser a:link,
#teaser a:visited,
.general_content a:link,
.general_content a:visited {
	color: #999;
	text-decoration: none;
}

#core a:hover,
#teaser a:hover,
.general_content a:hover {
	color: #F3F3F3;
	text-decoration: none;
}

#core,
#people,
#teaser,
.general_content {
	float: left;
}



/* General Content: Syndicated search, Error pages, about/imprint/contact.
 * - .general_content, #search and #error can exist in the middle column.
 * - #teaser appears a special right column, but uses similar formatting for its content. 
 */

#teaser, 
.general_content {
	margin-top: 15em;
	margin-left: 2.75em;
	width: 23em;
}
#teaser p, 
.general_content p {
  margin-bottom: 0;
}
#teaser li {
	width: 22.5em;
}

.general_content h1 {
	font-size: 5em;
	line-height: 1.53;
	color: #ccc;
	margin-top: -0.2em;
	margin-bottom: -0.04em;
}

.general_content h2 {
	font-size: 2em;	
	line-height: 1.25em;
	text-align: right;
	margin-top: 0;
	border-bottom: 1px solid #F3F3F3;
}

.general_content h3 {
	text-align: right;
	font-size: 1em;
	font-weight: bold;
	line-height: 1.5em;
	border-bottom: 1px solid #F3F3F3;
	margin-top: 1em;
	margin-bottom: .45em;
}

.general_content ul li {
	list-style: disc;
	margin-left: 1em;
}

#search li {
	list-style: none;
	margin-left: 0;
}

#search h3, #teaser h3 {
	font-size: 1em;
	font-weight: bold;
	line-height: 1.5em;
	margin-top: 1em;
/*	margin-bottom: .45em; */
	margin-bottom: .4em;
}

.general_content h3 {
	text-align: right;
}


#error h1 {
	color: #f00;
}

#error h2 {
	border-bottom: 1px solid #f00;
}



/* MEDIA: galleries browser (linkage, management, browser integration) */
.general_content ul.media li {
	margin-left: 0;
	list-style: none;
}

.general_content ul.media li:hover a {
	color: #F3F3F3;
}

.general_content ul.media li img {
	margin-left: 4px;
	border: none;
}

.general_content ul.media li img.first {
	margin-left: 1px;
}



/** Gallery Browser ****************************************************************************************/

#gallery-canvas {
	display: none;
	position: absolute;
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;
}


#close-gallery {
	z-index: 23;
	display: block;
	cursor: pointer;
  background: center url( images/closeGallery.gif ) no-repeat;
	width: 18px;
	height: 18px;
	position: absolute;
	left: 50%;
	top: 50%;
	margin-left: 483px;
	margin-top: -354px;
}

#close-gallery label {
	position: absolute;
	left: 2em;
	top: 0;
	padding: 0.1em 0.3em;
	opacity: 0.9;
	border: 1px solid #FFF;
	color: #FFF;
	background: #222;
	display: none;
}

#gallery-canvas span:hover label {
	display: block;
}


#gallery-background {
	background: #1d1d1d;
	opacity: 0.7;
	position: absolute;
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;
}

#gallery-browser {
	position: absolute;
	left: 50%;
	top: 50%;
	margin-left: -500px;
	margin-top: -355px;
	width: 1000px;
	height: 710px;
	border: 1px solid #333;
	background: #0D0D0D;
}




/* People Content: The individual blogs ********************************************************************/

#people {
	margin-left: 2.75em;
	overflow: hidden;
	min-height: 100%;
}

/* :TODO: document this css-hack (and possibly others). */
* html #people {
	height: 100%;
	overflow: visible;
}

#people a:link, 
#people a:visited {
	color: #613b00;
}

#people a:hover {
	color: #985d00;
}

p.meta {
	text-align: right;
	font-style: italic;
	font-weight: normal;
	font-family: Times, Garamond, 'Times New Roman', serif;
}

#people p.meta {
	margin-top: -1.05em;
	margin-bottom: 1.05em;

	margin-right: 1em;

}

#people h4.title, 
#people h4.date {
	text-align: center;
	font-size: 1.5em;
	line-height: 1em;
	margin-top: 1em;
	margin-bottom: 1em;
	margin-left: -.5em;
	font-style: italic;
	font-weight: normal;
	font-family: Times, Garamond, 'Times New Roman', serif;
}

#people h4.title:before {
	content: "»";
}

#people h4.title:after {
	content: "«";
}

#people p.teaser {
	font-weight: bold;
	margin-bottom: 1.5em;
}

#people li.people {
	position: relative;
	color: #0D0D0D;
	background-repeat: repeat;
	background-attachment: fixed; /* for google chrome */
	float: left;
	width: 4em;
	padding-left: .75em;
	padding-right: .75em;
	padding-top: 7.5em;
	margin-left: .75em;
	margin-right: .75em;
	text-align: center;
	padding-bottom: 32767px !important;
	margin-bottom: -32767px !important;
}

#people li.active {
	width: 33em;
	text-align: left;
  /*padding-top: 6em;*/
}

#people li p.annotation {
	width: 40%;
	border-top: 1px solid #0D0D0D;
	border-bottom: 1px solid #0D0D0D;	
	margin-top: .7em;
	margin-bottom: .8em;
}

#people li p.annotation.notice:before {
	content: "Notice:\00a0";
	font-weight: bold;
}

#people li p.annotation.hint:before {
	content: "Hint:\00a0";
	font-weight: bold;
}

#people li p.annotation.warning:before {
	content: "Warning:\00a0";
	font-weight: bold;
	color: #570010;
}

#people li p.annotation.left {
	margin-right: 1.5em;
}

#people li p.annotation.right {
	margin-left: 1.5em;
}

#people li p.annotation.center {
	width: 75%;
	margin-left: auto;
	margin-right: auto;
}

#people li p+p.annotation.center {
	margin-top: 0;
	margin-bottom: 1.5em;
}

#people li h1 {
	font-size: 3em;
	line-height: 1em;
	margin-bottom: 1em;
}

#people li ul {
	list-style-type: disc;	
	margin-left: 1.15em;
	margin-bottom: .05em;
}

#people li ol {
	list-style-type: decimal;	
	margin-left: 1.6em;
	margin-bottom: .05em;
}

#people li dl {
	margin-left: 1.15em;
	margin-bottom: .05em;
}

#people li dl dt {
	font-style: italic;	
	font-weight: bold;
	margin-left: 1.15em;
}

#people li ul.block, #people li ol.block, #people li dl.block,
#people li code.block {
	margin-top: 1.5em;
	margin-bottom: 1.5em;
}

#people li p+ul, #people li p+ol, #people li p+dl,
#people li p+code {
	margin-top: -1.5em;
	margin-bottom: 0em;
}

#people li ul#articles {
	margin-left: 0;
	list-style-type: none;
}


#people li .blog_header h2.name {
	font-size: 1em;
	line-height: 1.5em;
	font-weight: bold;
	margin-bottom: 1.5em;
	border-bottom: .1em solid #0D0D0D;
}

#people li.active .blog_header h2.name {
	font-size: 2em;
	margin-top: -.5em;
	line-height: 1em;
	padding-top: .25em;
	border-bottom: .05em solid #0D0D0D;
}

#people li.active .blog_header p {
  visibility: hidden;
  position: relative;
  width: 9em;
  left: 50%;
  margin-top: -3em;
  margin-left: -4.5em;
  text-align: center;
}

#people li.active .blog_header p .archive_hint {
  margin-left: -.75em;
}

#people li.active .blog_header p .next_article, #people li.active .blog_header p .previous_article {
  width: 12em;
  margin-left: 0;
}

#people li.active .blog_header p .next_article {
  float: right;
  margin-right: -12em;
  text-align: right;
}

#people li.active .blog_header p .previous_article {
  float: left;
  width: 12em;
  margin-left: -12em;
  text-align: left;
}

#people li.active .blog_header:hover p {
  visibility: visible;
}

#people li .blog_header p a:link, #people li .blog_header p a:visited {
	color: #0D0D0D;
  opacity: .5;
}

#people li .blog_header h2.name a:link, 
#people li .blog_header h2.name a:visited, 
#people li .blog_header h2.name a:hover, #people li .blog_header p a:hover {
	color: #0D0D0D;
	opacity: 1;
}

#people li .blog_footer {
  margin-top: 2.5em;
  margin-bottom: 10em;
  padding-top: .4em;
  border-top: 1px solid #0D0D0D;
}

#people li .blog_footer .previous_article {
  background-image: url( images/previousArticle.gif );
  background-position: left 1ex ;
  background-repeat: no-repeat;
  margin-bottom: 1.5em;
  padding-left: 10px;
  float: left;
  width: 47%;
  text-align: left;
}

#people li .blog_footer .next_article {
  background-image: url( images/nextArticle.gif );
  background-position: right 1ex;
  background-repeat: no-repeat;
  margin-bottom: 1.5em;
  padding-right: 10px;
  float: right;
  width: 47%;
  text-align: right;
}

/* Blog Content: image and gallery layout */

DIV.backgroundGrid {
	font-size: 1em;
	line-height: 1.5em;
	position: absolute;
	z-index: 1;
	top: 0;
	left: 0;
	width: 100%;
}	
DIV.backgroundGrid P {
	margin: 0;
	padding: 0;
	border-bottom: 1px solid #777;
	font-size: 1em;
	line-height: 1.5em;
}

#people li.active .gallery_preview,
#people li.active .photo_preview {
  margin-top: 1.1em;
  margin-bottom: 1.9em;
  padding-left: 1.5em;
  padding-right: 1.5em;
}

#people li.active .gallery_preview + .gallery_preview,
#people li.active .gallery_preview + .photo_preview,
#people li.active .photo_preview + .gallery_preview,
#people li.active .photo_preview + .photo_preview,
#people li.active p + .gallery_preview {
  margin-top: 0;
  margin-bottom: 1.5em;
}

#people li.active .gallery_preview img,
#people li.active .photo_preview img {
	
}

#people li.active .gallery_preview a,
#people li.active .photo_preview a {
  display: block;
  height: 6em;
  overflow: hidden;
  text-align: center;
}

#people li.active .thumbnail {
	float: left;
	display: block;

	width: 14.9em;
	width: 40%;

	text-align: left;

	border-top: 1px solid #0D0D0D;
	border-bottom: 1px solid #0D0D0D;	

	margin-top: .7em;
	margin-bottom: .8em;

	margin-right: 1.5em;

	padding: 0;
}

#people li.active .thumbnail p {
	padding: .4em .3em .65em .3em;
}

#people li.active .thumbnail a {
	width: 100%;
	height: 11.8em;
	padding: .65em 0 0 0;
}

#people li.active .thumbnail a img {
	width: 100%;
	height: 100%;
}

#people li.active .gallery_preview h3 a, 
#people li.active .photo_preview h3 a {
  padding: 0;
  display: inline;
  text-align: left;
}

#people li.active .gallery_preview p,
#people li.active .photo_preview p {
  font-style: italic;
  margin-bottom: 0;
}

#people li.active .display a {
  height: 22.5em;
  max-height: 22.5;
  height: auto;
  overflow: hidden;
}

#people li.active .thumbnail p a,
#people li.active .display p a,
#people li.active .gallery_preview p a,
#people li.active .photo_preview p a {
	display: inline;
	height: auto;	
}

#search li.matthias h3, 
#teaser li.matthias h3,
#search li.michael h3, 
#teaser li.michael h3,
#search li.daniel h3, 
#teaser li.daniel h3,
#search li.david h3, 
#teaser li.david h3 {
	border-bottom-width: 1px;
	border-bottom-style: solid;
}



/* Stat columns: Transform the blog delegate columns into a column chart,
 * to indicate a ratio among the blogs. 
 * This is implemented by generating a black mask for each blog, which
 * is a <div class="statbar">
 */

#people.stats li * {
	display: none;
}

#people.stats li .statbar {
	background: #0D0D0D;
}

/* in its initial  */
#people li .statbar {
	display: block; 
	position: absolute; 
	height: 0; 
	width: 100%;
	top: 0; 
	left: 0;
	background: none;
	opacity: 1;
}

#people li .statbar .label {
	display: none;
}

#people.stats li .statbar .label {
	display: block;
	position: absolute;
	bottom: 4px;
	left: 0;
	width: 4em;
	text-align: center;
	color: white;
}


/* Labels for the stat columns. */

#stat-labels {
	display: block;
	background: #0D0D0D;
	overflow: hidden;
	height: 0;
	width: 28em;
	position: absolute;
	bottom: 0;
	left: 18.75em;
}

#stat-labels.general {
	left: 44.5em;
}

#stat-labels li {
	border-top: 1px solid #F3F3F3;
	float: left;
	display: block;
	height: 2.5em;
	width: 6em;
	margin-right: 1em;
}

#stat-labels li h2 {
	color: white;
	text-align: center;
	margin-top: 0.15em;
	font-size: 120%;
}


/* caption for the stat columns. */

#stat-caption {
	font-size: 2em;
	margin: 0;
	padding: 0.5em 0;
	background: #0d0d0d;
	position: absolute;
	display: block;
	width: 12.5em;
	left: 23.5em;
	text-align: left;
}

#stat-caption.general {
	left: 8.5em;
	text-align: right;
}



/* people: matthias */

#people li.matthias a:link, 
#people li.matthias a:visited {
	color: #590d00;
}

#people li.matthias a:hover {
	color: #8a1300;
}

#people li.matthias a.image:visited img {
	border-color: #590d00;
}

#people li.matthias a.image:hover img {
	border-color: #8a1300;
}

#search li.matthias h3, 
#teaser li.matthias h3 {
	border-bottom-color: #df5429;
}

#people li.matthias {
	background-image: url( images/backgroundNoise_matthias.gif );
}

.general_content a.matthias,
#core a.matthias,
.c-4,
body.highlight-matthias li.by-matthias a {
	color: #df5429!important;
}


/* people: david */

#people li.david a:link, 
#people li.david a:visited {
	color: #593800;
}

#people li.david a:hover {
	color: #8a5700;
}

#people li.david a.image:visited img {
	border-color: #593800;
}

#people li.david a.image:hover img {
	border-color: #8a5700;
}

#search li.david h3, 
#teaser li.david h3 {
	border-bottom-color: #dfa934;
}

#people li.david {
	background-image: url( images/backgroundNoise_david.gif );
}

.general_content a.david,
#core a.david,
.c-3,
body.highlight-david li.by-david a {
	color: #dfa934!important;
}


/* people: michael */

#people li.michael a:link, 
#people li.michael a:visited {
	color: #7a4a00;
}
#people li.michael a:hover {
	color: #b16c00;
}

#people li.michael a.image:visited img {
	border-color: #7a4a00;
}
#people li.michael a.image:hover img {
	border-color: #b16c00;
}

#search li.michael h3, 
#teaser li.michael h3 {
	border-bottom-color: #dddf34;
}

#people li.michael {
	background-image: url( images/backgroundNoise_michael.gif );
}

.general_content a.michael,
#core a.michael,
.c-1,
body.highlight-michael li.by-michael a {
	color: #dddf34!important;
}


/* people: daniel */

#people li.daniel a:link, 
#people li.daniel a:visited {
	color: #3e6a00;
}

#people li.daniel a:hover {
	color: #599800;
}

#people li.daniel a.image:visited img {
	border-color: #3e6a00;
}
#people li.daniel a.image:hover img {
	border-color: #599800;
}

#search li.daniel h3, 
#teaser li.daniel h3 {
	border-bottom-color: #b9df34;
}

#people li.daniel {
	background-image: url( images/backgroundNoise_daniel.gif );
}

.general_content a.daniel,
#core a.daniel,
.c-2,
body.highlight-daniel li.by-daniel a {
	color: #b9df34!important;
}


