{% extends "error.html" %}

{% block error_description %}
		<h1>404</h1>
		<p>The requested resource could not be found.</p>
		<p>
			Should you have typed in the address yourself, please check the location for possible typing errors 
			or spelling mistakes.
		</p>
		<p>
			In case you followed a link from this web site or from a search engine, please 
			<a href="/contact/">contact us</a> to help us fix this problem. Thank you!
		</p>
		<p>
			If you followed a link from another web site to this page, please 
			<a href="javascript:history.back();">return</a> there and inform the original author about the
			erroneous link. Your help is appreciated!
		</p>
{% endblock error_description %}